@import "variables";
@import "vendors/normalize";
@import "components/_components";

* {
    box-sizing: border-box;
}

body {
	background: $main_clr;
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}